
.Navbartop {
    position: sticky;
    z-index: 2;
    display: flex;
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    backdrop-filter: blur(10px); /* Blur effect */ 
}

.NavTopContainer1 {
    height: 110px;
    display: flex;
    flex:1;
    justify-content: space-around;
    align-items:center;
}

.LogoImg {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}


    .NavName {
        font-size: xx-large;
        color: var(--letter-color);
    }

    .Navinfo {
        font-size: small;
        color: var(--letter-color);
    }
