.Navbartop {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  z-index: 2;
  display: flex;
  background: rgba(255, 255, 255, 0.1); /* Transparent white background */
  backdrop-filter: blur(10px); /* Blur effect */
}

.NavTopContainer1 {
  height: 110px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.LogoImg {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.NavName {
  font-size: xx-large;
  color: var(--letter-color);
}

.Navinfo {
  font-size: small;
  color: var(--letter-color);
}

/* Nav Left */

.Navbarleft {
  width: 100px;
  height: 82vh;
  top: 110px;
  position: fixed;
  /* background-color: #3d3d3d; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.NavleftCommon {
  border-radius: 27.5px;
  left: 37px;
  width: 55px;
  position: relative;
  background-color: #dba39ab3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavleftUpper {
  height: 226px;
}

.NavleftMiddle {
  height: 131px;

}

.NavleftBottom {
  height: 121px;
}

/* Nav Icons */

.NavIcon {
  width: 55px;
  height: 55px;
  border-radius: 27.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.NavIcon:hover {
  transition: 2s all ease-in-out 0s;
  background: radial-gradient(
    circle,
    rgba(255, 207, 48, 0.911) 40%,
    transparent 100%
  );
}

.NavIcon:hover .ToolTipText {
  visibility: visible;
}

.IconSet {
  width: 25px;
}

.NavTopContainer2 {
  width: 50%;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.LogoImg {
  width: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 27.5px;
  object-fit: cover;
}

.NavtopCommon {
  top: 24px;
  position: relative;
  background-color: #dba39ab3;
  border-radius: 27.5px;
  height: 55px;
}

.Rectangle1 {
  width: 175px;
  cursor: pointer;
  overflow: hidden;
}
.Rectangle1 span {
  display: flex;
  justify-content: center;
  margin: 16px;
  position: relative;
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  z-index: 1;
}

.ResumeLink {
  text-decoration: none;
  color: inherit;
}

.Rectangle1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  transition: 1s;
}

.Rectangle1:hover::before {
  width: 700px;
  height: 700px;
}

.Rectangle2 {
  width: 350px;
}

.Banner {
  object-fit: cover;
  border-radius: 27.5px;
  height: 55px;
  max-width: 350px;
}

@media only screen and (max-width: 400px) {
  .Navbarleft {
    display: none;
  }
  /* Top nav bar */
  .NavTopContainer2 {
    display: none;
  }

}

@media only screen and (min-width: 400px) {
    .LogoImg {
        left: 37px;
        position: absolute;
      }
}