<div className="Desktop1" style={{width: 1440, height: 1024, position: 'relative', background: '#363636'}}>
    <div className="Navbarleft" style={{width: 100, height: 864, left: 25, top: 150, position: 'absolute'}}>
      <div className="Navleftbottom" style={{width: 75, height: 151, left: 13, top: 702, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
      <div className="Navleftupper" style={{width: 75, height: 326, left: 13, top: 49, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
      <div className="Navleftmiddle" style={{width: 75, height: 171, left: 13, top: 401, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
    </div>
    <div className="Navbartop" style={{width: 1440, height: 125, left: 0, top: 0, position: 'absolute'}}>
      <div className="Rectangle1" style={{width: 175, height: 75, left: 1226, top: 24, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
      <div className="Rectangle2" style={{width: 350, height: 75, left: 851, top: 24, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
      <div className="Rectangle3" style={{width: 75, height: 75, left: 37, top: 24, position: 'absolute', background: '#777777', borderRadius: 37.50}} />
      <div className="DavidFranklinPortifolio" style={{width: 427, left: 224, top: 30, position: 'absolute'}}><span style="color: 'white', fontSize: 32, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'">David Franklin <br/></span><span style="color: 'white', fontSize: 20, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'">Portifolio</span></div>
    </div>
    <div className="Herosection" style={{width: 1175, height: 803, left: 225, top: 200, position: 'absolute'}}>
      <div className="Heropage" style={{width: 1175, height: 803, left: 0, top: 0, position: 'absolute'}}>
        <div className="Intro" style={{width: 650, height: 425, left: 0, top: 0, position: 'absolute', background: '#B5B5B5', borderRadius: 37.50}} />
        <div className="Propic" style={{width: 475, height: 425, left: 700, top: 0, position: 'absolute', background: '#B5B5B5', borderRadius: 37.50}} />
        <div className="Skill" style={{width: 825, height: 328, left: 350, top: 475, position: 'absolute', background: '#B5B5B5', borderRadius: 37.50}} />
        <div className="Title1" style={{width: 300, height: 150, left: 0, top: 475, position: 'absolute', background: '#B5B5B5', borderRadius: 37.50}} />
        <div className="Title2" style={{width: 300, height: 150, left: 0, top: 653, position: 'absolute', background: '#B5B5B5', borderRadius: 37.50}} />
      </div>
    </div>
  </div>