
.Info {
    top:125px;
    position: relative;
    left: 200px;

    display: flex;
    flex-direction: column;
    width: 83.4%;
    max-width: 1440px;
}

.ContactSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 170px;
    justify-content: space-between;
}